.food {
	height: 100px;
	width: 200px;
	margin: 10px 10px;
	border: black solid 2px;
}

.logo {
	height: 250px;
	width: 650px;
}

h1,
h2,
h3,
h4,
p {
	font-family: 'Crimson Text', serif;
}

h2,
h3 {
	text-indent: 100px;
}


h1 {
	text-align: center;
	background: #1BBCDD;
	border: black solid 6px;
}

.text li {
	font-family: 'Crimson Text', serif;
	line-height: 1em;
}

.revealBox {
	width: 250px;
	height: 200px;
	background: #3CDCDc;
	text-align: center;
	border: black solid 5px;

}

/*Mobile*/
@media (max-width: 480px) {
	body {
		background: #2CCDDD;
	}
}

/*Tablet*/
@media (min-width: 768px) {
	body {
		background: #1597BA;
	}
}


/*Desktop*/
@media (min-width: 992px) {
	body {
		background: #2D69B2;
	}
}